@model WebApplication1.Models.IndexUserViewModel

@using (Html.BeginForm("Delete", "Home", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4>Delete user</h4>
        </div>
        <div class="modal-body">
            <h4>Do you want delete the user from database?</h4>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <input type="button" value="Close" class="btn btn-default" data-dismiss="modal" />
        </div>
    </div>
}
